/*CSS FOR HEADER / FOOTER AND ALL PAGES */
body{
    background-color: #f3f4ea;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.headerSection{
    text-align: center;
    position: relative;
    text-align: center;
}
.headerImage{
    width: 100%;
}
.headerText{
    font-size: 50px;
    position: absolute;
    top: 15%;   /*moves text to 20% of top*/
    left: 50%; 
    transform: translate(-50%, -50%);
}
.menuSection{
   border: 5px solid #203a02;
   background-color: #203a02;
}
.menuSection ul{
    list-style: none;   /*removes bullet points*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .menuSection li{
    text-align: center;
    text-decoration: none;
    font-size: larger;
    padding: 15px;
    width: 100px;
    background-color: #203a02;
    border: 5px solid #f3f4ea;
    border-radius: 15px;
 }
 .menuSection a:link{
    color: #f3f4ea;
    text-decoration: none;}
.menuSection a:visited{
    color: #f3f4ea;
    text-decoration: none;
}
.menuSection a:hover{
    color: #f3f4ea;
    text-decoration: underline;
}
.footerSection{
    text-align: center;
    background-color: #203a02;
    color: #f3f4ea;
}

/*CSS FOR ABOUT/MAIN PAGE*/
#mainImage{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: 50px;
}
#welcomeSection{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/*CSS FOR HIKES PAGE*/
.hikesBody{
    margin: 50px;
}
.hikesImage{
    width: 400px;
    float: right;
}
.hikeEntry{
    display: flex;
    flex-direction: row;
}


/*CSS FOR GEAR PAGE*/
table, th, td{
    margin: 50px;
    text-align: center;
    border: 3px solid black;
}
th{
    background-color: #203a02;
    color: white;
}
#gearImage{
    width: 450px;
    margin: 50px;
}

#gearHeader{
    margin: 50px;
}

/*CSS FOR SAFETY PAGE*/
#safetyImage{
    width: 400px;
    height: 250px;
}
.safetyChapter{
    margin: 50px;
}

/*CSS FOR CONTACT PAGE*/
.contactBody{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}
.formBox{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
form{
    float: left;
}
#contactImage{
    float: right;
    width: 500px;
}
.joinUsText{
    margin: 50px;
}


